@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
}

.hero-section {
  height: calc(100vh - 60px);
}
.card-hero {
  width: 380px;
  height: 450px;
}

.card-image-1 {
  width: 340px;
  height: 380px;
}

.card-image-small .image {
  width: auto;
  height: 230px;
}

.card-image-small .image .object-cover {
  height: 230px;
}